{% block header %}
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
			<span class="fs-4">Blog</span>
		</a>

		<ul class="nav nav-pills">

			{% if isConnected %}
				{% if isAdmin %}
					<div class="dropdown">
					 <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administration</a>
					 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" href="/blopostlist">Articles</a></li>
						<li><a class="dropdown-item" href="/commentarylist">Commentaires</a></li>
						<li><a class="dropdown-item" href="/userlist">Utilisateurs</a></li>
					</ul>
					</div>			
				{% endif %}
				<li class="nav-item">
					<a href="/profile" class="nav-link">Profil</a>
				</li>
				<li class="nav-item">
					<a href="/logout" class="nav-link">Déconnexion</a>
				</li>				
			{% else %}
				<li class="nav-item">
					<a href="/login" class="nav-link">Se connecter</a>
				</li>
				<li class="nav-item">
					<a href="/registration" class="nav-link">Creer un compte</a>
				</li>
			{% endif %}
		</ul>
	</header>
{% endblock %}
