{% block header %}
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
			<span class="fs-1">Blog</span>
		</a>
		<a href="https://drive.google.com/file/d/1ygzzrOut_XZAbzpv2Az2MchpD-lB6R7J/view?usp=sharing" class="d-flex align-items-center">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="32" height="32" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M310 2435 c-60 -19 -124 -75 -158 -139 l-27 -51 0 -965 0 -965 27
-51 c15 -29 46 -68 70 -88 80 -69 33 -67 1144 -64 955 3 1000 4 1026 22 45 30
50 67 46 359 l-3 269 -33 29 -32 29 -170 0 -169 0 -3 708 c-3 695 -3 708 -24
753 -29 63 -74 110 -131 139 l-48 25 -735 2 c-608 2 -743 -1 -780 -12z m1545
-90 c32 -20 56 -45 72 -74 l23 -44 0 -704 0 -703 -168 0 c-132 0 -172 -3 -188
-15 -16 -12 -109 -14 -636 -15 -613 0 -617 0 -623 -20 -16 -51 -27 -50 611
-50 l594 0 0 -60 0 -60 -596 -2 c-544 -3 -598 -4 -607 -20 -8 -12 -7 -21 2
-32 12 -14 78 -16 607 -16 l594 0 0 -159 c0 -88 3 -167 6 -175 6 -15 -45 -16
-597 -14 l-604 3 -47 28 c-29 17 -57 44 -73 71 l-25 43 0 953 0 953 25 43 c25
43 72 79 123 94 15 5 349 8 743 7 l716 -2 48 -30z m215 -1681 c0 -20 -89 -321
-102 -348 -7 -12 -13 -15 -20 -8 -7 7 6 66 42 184 29 95 54 176 57 181 8 13
23 7 23 -9z m-186 -92 c9 -15 -9 -29 -79 -64 l-69 -36 71 -36 c39 -19 74 -40
77 -45 16 -25 -21 -18 -99 21 -110 55 -110 67 0 125 86 45 91 47 99 35z m347
-37 c64 -32 89 -51 87 -62 -3 -15 -152 -103 -175 -103 -7 0 -13 7 -13 15 0 8
31 30 71 51 l72 36 -31 18 c-17 11 -49 28 -71 40 -23 11 -41 27 -41 35 0 8 2
15 5 15 3 0 46 -20 96 -45z"/>
<path d="M600 2215 c-110 -31 -199 -107 -248 -213 -23 -49 -27 -70 -27 -152 0
-83 4 -103 28 -156 36 -77 113 -154 192 -191 53 -25 71 -28 155 -28 83 1 102
4 151 28 121 58 208 176 223 301 33 259 -223 481 -474 411z m225 -89 c63 -29
138 -111 159 -173 23 -67 21 -163 -5 -224 -12 -27 -23 -49 -25 -49 -2 0 -27
24 -55 53 l-50 52 -2 97 c-2 104 -12 129 -68 171 -65 48 -175 22 -221 -51 -20
-32 -23 -50 -23 -133 0 -95 -1 -97 -31 -125 -17 -16 -36 -38 -42 -49 l-12 -20
-15 20 c-29 36 -48 124 -41 183 13 112 69 192 168 242 81 40 186 43 263 6z
m-45 -267 c0 -43 -5 -55 -29 -80 -38 -37 -82 -39 -116 -4 -21 20 -25 34 -25
80 l0 55 85 0 85 0 0 -51z"/>
<path d="M1228 2149 c-22 -13 -23 -55 -2 -63 9 -3 139 -6 289 -6 235 0 276 2
289 16 18 18 19 23 6 44 -8 13 -53 15 -287 17 -180 2 -284 -1 -295 -8z"/>
<path d="M1211 1941 c-7 -13 -7 -23 2 -35 11 -15 42 -16 301 -14 257 3 290 5
299 20 8 12 7 21 -2 32 -12 14 -51 16 -302 16 -271 0 -289 -1 -298 -19z"/>
<path d="M1222 1758 c-17 -17 -15 -55 4 -62 9 -3 139 -6 289 -6 235 0 276 2
289 16 9 8 16 19 16 24 0 5 -7 16 -16 24 -13 14 -54 16 -293 16 -202 0 -280
-3 -289 -12z"/>
<path d="M1211 1551 c-7 -13 -7 -23 2 -35 11 -15 42 -16 301 -14 257 3 290 5
299 20 8 12 7 21 -2 32 -12 14 -51 16 -302 16 -271 0 -289 -1 -298 -19z"/>
<path d="M356 1299 c-25 -30 -26 -34 -26 -174 0 -140 1 -144 26 -174 l26 -31
692 0 693 0 24 26 c23 25 24 30 24 179 0 149 -1 154 -24 179 l-24 26 -693 0
-692 0 -26 -31z"/>
<path d="M373 402 c-36 -4 -53 -33 -33 -57 11 -13 92 -15 551 -15 538 0 538 0
550 21 9 17 8 24 -4 36 -13 13 -89 15 -523 16 -280 1 -523 1 -541 -1z"/>
</g>
</svg>

		</a>
				<a href="https://github.com/K0n3k/" class="d-flex align-items-center">
			<svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
</svg>

		<a href="https://twitter.com/KeVin_HuU" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-dark text-decoration-none">
<svg viewBox="0 0 24 24" width="32" height="32" aria-hidden="true" class="r-1cvl2hr r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
</a>
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="/contact" class="nav-link">Nous contacter</a>
			</li>
			{% if user is not null %}
				{% if user.isAdmin %}
					<li class="nav-item">
						<a href="/posteditor" class="nav-link">Creer un article</a>
					</li>
					<div class="dropdown">
					 <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administration</a>
					 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" href="/postlist">Articles</a></li>
						<li><a class="dropdown-item" href="/commentarylist">Commentaires</a></li>
						<li><a class="dropdown-item" href="/userlist">Utilisateurs</a></li>
					</ul>
					</div>			
				{% endif %}
									<div class="dropdown">
					 <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.firstname }} {{ user.lastname }}</a>
					 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a href="/profile" class="nav-link">Profil</a></li>
						<li><a href="/logout" class="nav-link">Déconnexion</a></li>
					</ul>
				</li>				
			{% else %}
				<li class="nav-item">
					<a href="/login" class="nav-link">Se connecter</a>
				</li>
				<li class="nav-item">
					<a href="/registration" class="nav-link">Creer un compte</a>
				</li>
			{% endif %}
		</ul>
	</header>
{% endblock %}
