{% block main %}
<div class="row" style="width: 25rem; justify-content: center">
		{% if errorLogin %}
			{% include '/Messages/EmailAlreadyUsed.twig' %}
		{% endif %}
		{% if emptyField %}
			{% include '/Messages/AllFieldsMustBeFilled.twig' %}
		{% endif %}
		<div class="form-signin">
			<form action="/registration" method="post">
				<h1 class="h3 mb-3 fw-normal">Creer un compte</h1>
				<div class="form-floating mb-1">
					<input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
					<label for="floatingInput">Adresse email</label>
				</div>
				<div class="form-floating mb-1">
					<input type="text" class="form-control" id="floatingInput" name="firstname" placeholder="name@example.com">
					<label for="floatingInput">Prénom</label>
				</div>
				<div class="form-floating mb-1">
					<input type="text" class="form-control" id="floatingInput" name="lastname" placeholder="name@example.com">
					<label for="floatingInput">Nom</label>
				</div>
				<div class="form-floating mb-1">
					<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
					<label for="floatingPassword">Password</label>
				</div>

				<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
			</form>
		</div>
	</div>
{% endblock %}
