{% extends "layout.twig" %}
{% block main %}
<div class="container">
<div style="width: 25rem; justify-content: center" class="">
	<div class="form">
		<form action="/{{ url.path }}" method="post">
			<h1 class="h3 mb-3 fw-normal">Nous contacter</h1>

			<div class="form-floating mb-2">
				<input type="email" class="form-control" id="floatingInput" name="emailAdress" placeholder="name@example.com">
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating mb-2">
				<input type="text" class="form-control" id="floatingPassword" name="subject" placeholder="Sujet">
				<label for="floatingPassword">Votre sujet</label>
			</div>
			<textarea class="form-control mb-2" id="Message" name="content"></textarea>
			<button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Envoyer</button>
		</form>
	</div>
</div>
</div>
{% endblock %}